vendor/*
coverage/*
tools/
.box_dump/
/deptrac.phar
/deptrac.phar.asc
phpunit.xml
box.json
deptrac.version
junit-report.xml
.php-cs-fixer.cache
.php-cs-fixer.php
.deptrac.cache
.phpunit.result.cache
infection.log

# downgrade with Rector
/rector-local
