language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

install:
  - make tests
