{
  "files": [
    "config/cache.php",
    "config/services.php",
    "config/deptrac_template.yaml"
  ],
  "compression": "GZ",
  "main": "deptrac.php",
  "git-version": "git-version",
  "compactors" : [
      "KevinGH\\Box\\Compactor\\PhpScoper"
  ],
  "finder": [
    {
      "in": ["src", "vendor"],
      "notPath": "#jetbrains/phpstorm-stubs/.*/.*\\.php#",
      "exclude": [
        "examples",
        "test",
        "tests"
      ]
    }
  ]
}
