{
  "files": [
    "config/services.php",
    "config/cache.php"
  ],
  "compression": "GZ",
  "main": "deptrac.php",
  "git-version": "git-version",
  "compactors" : [
      "KevinGH\\Box\\Compactor\\PhpScoper"
  ]
}
