includes:
    - phpstan-baseline.neon
    - vendor/phpdocumentor/graphviz/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkMissingCallableSignature: true
    level: max
    paths: [src]
    stubFiles:
        - codeQuality/stubs/Function_.php
        - codeQuality/stubs/ClassLike.php
        - codeQuality/stubs/Name.php
