includes:
    - phpstan-baseline.neon
    - vendor/phpdocumentor/graphviz/extension.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    level: max
    paths: [src]
