<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    executionOrder="random"
    resolveDependencies="true"
>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
        <testsuite name="phpt">
            <directory suffix=".phpt">./tests/phpt</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
